.center-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
  }
  
.links-button {
    margin-top: 10px;
    background-color: #c46599;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}
  